@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');
:root{
    --darker-dark:#070d16;
    --main-light: #2f4062;
    --primary-blue: #00b7ff;
    --primary-purple: #8c52fe;
    --primary-green: #05fac4;
    --primary-red: #f9285b;
    --main-dark: #0c101d;
    --border-radius: 5px;
    --padding: 15px;
    --light-grey: rgba(255, 255, 255, 0.682);
}
body{
    font-family:'Inter', sans-serif;
    color: white;
    background: var(--darker-dark);
    text-align: center;
}
h1{
    font-size: 4.5rem;
    font-weight: 900;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    gap: .75rem;
    grid-template-areas: 
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar content1 content2 content3"
        "sidebar footer footer footer"
    ;
}
nav{
    background: var(--darker-dark);
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-button{
    cursor: pointer;
    padding: 12px 20px;
    border: none;
    outline: none;
    font-weight: 600;
    background: var(--primary-blue);
    transition: all ease-in-out .3s;
}
.nav-button:hover{
    background: var(--primary-green);
}
.nav__left{
    display: flex;
    object-fit: contain;
    align-items: center;
}
.nav__left > img{
    object-fit: contain;
    height: 32px;
}
.nav__left > h3{
    padding-left: 10px;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 1.5rem;
}
.nav__center{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    
}
.nav__center-input{
    display: flex;
    align-items: center;
    border-radius: 999px;
    border: 1px solid white;
    padding: 10px;
    
}
.nav__center-input > input{
    border: none;
    outline: none;
    outline-width: 0;
    background: transparent;
    font-size: 14px;
    color: white;
    width: 22em;
}
.nav__center > i{
    cursor: pointer;
}
/* Main */
main{
    background: var(--main-dark);
    grid-area: main;
}
.main-button{
    cursor: pointer;
    padding: 15px 30px;
    border: none;
    outline: none;
    font-weight: 600;
    border-radius: var(--border-radius);
    background:linear-gradient(90deg, #89f7fe 0%,#66a6ff 100% );
    transition: transform ease-in-out .3s;

}
.main-button:hover{
    color: white;
    transform: scale(1.1)

}
/* all content */
.content{
    text-align: left;
}
.content > h3{
    font-size: 1.5rem;
    margin: 0;
}
.content > p{
    color: var(--light-grey);
}
.content > i {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
.content > img{
    width: 64px;
    padding-top: 20px;
    padding-bottom: 10px;
}
/* content1 */
#content1{
    background: var(--main-light);
    grid-area: content1;
}

/* content2 */
#content2{
    background: var(--main-light);
    grid-area: content2;
}

/* content3 */
#content3{
    background: var(--main-light);
    grid-area: content3;
}
#sidebar{
    padding: 0;
    background: var(--main-dark);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: .5fr 1.5fr 1.5fr .5fr ;
    grid-template-areas: 
    "top"
    "center"
    "center"
    "bottom"
    ;
}
.sidebar__top{
    text-align: left;
    padding: var(--padding) 20px;
    grid-area: top;
    border-radius: 5px 5px 0 0;
    font-size: 1.2rem;
    /* padding: var(--padding); */
}
.sidebar__top > h3{
    margin-bottom: 0;
}
.sidebar__top > p{
    font-size: 1rem;
    margin: 0;
    color: var(--light-grey);
}
.sidebar__center{
    grid-area: center;
    padding: var(--padding);

}
.sidebar__center-flex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    padding: 0 10px;
    border-radius: var(--border-radius);
}
.sidebar__center-flex:hover{
    background: var(--primary-blue);
    transition: ease-in-out .3s;
}
.sidebar__center-flex > p{
    padding-left: 10px;
}
.sidebar__bottom{
    grid-area: bottom;
    padding: var(--padding);

}
.sidebar__bottom > p{
    color: var(--light-grey);
}

footer{
    background: var(--main-dark);
    grid-area: footer;
}
.all{
    border-radius: var(--border-radius);
    padding: var(--padding);
    font-size: 12px;
    line-height: 1.2;
}
@media screen and (max-width: 800px){
    .nav__center{
        display: none;
        
    }
    .sidebar__top > h3{
        font-size: 1rem;
    }

}
@media screen and (max-width: 600px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .75fr .75fr 3.75fr 2fr 2fr 2fr .75fr;
        grid-template-areas: 
            "nav"
            "sidebar"
            "main"
            "content1"
            "content2"
            "content3"
            "footer"
        ;
    }
    .sidebar__top > h3{
        font-size: 1.3rem;
    }

}
@media screen and (max-width: 425px){
    .hidden{
        display: none;
    }
    .nav-button{
        border-radius: var(--border-radius);
        padding: 10px 20px;
        font-size: 1.2rem;
    }
}